body {
	/* Image Location */
	background-image: url(../../../../../../public/images/Screen-Shot-2017-11-13-at-10.23.39-AM.png);

	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	/* Font Colour */
	color:white;
}